body{
    background-color:#354f52;
    text-align: center;

}
h1{
    font: size 150px;
    color:aliceblue;
}

  
.game{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
    justify-content: center;
}
  
.box{
    width: 100px;
    height: 100px;
    background-color: #fff;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid #333;
    border-radius: 1rem;
    color:black;
  }

  .box:hover {
    background-color: #e0e0e0;
  }
  
  #status {
    margin-top: 20px;
    font-size: 1.2rem;
  }
  
#reset {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 1.5rem;
    align-items: center;
    justify-content: center;
    color:darkolivegreen;
    height: 40px;
    
}
#reset:hover{
    background-color:black;
    
}  
.msg{
    color: burlywood;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-stretch:wider;
    font-weight: 200;
    
}